@font-face {
    font-family: 'Kaushan';
    src: url('../fonts/KaushanScript-Regular.otf');
}
html {
    background-image: url(http://2.bp.blogspot.com/-nV9JU54pvN0/URFepdIRTJI/AAAAAAAASiQ/Ytr3V7Y29BY/s1600/Palm+Trees+Wallpapers+05.jpg); /*try to make the background parallax*/
    background-size: cover;
    overflow: scroll;
    
}
td:hover {
    /*background-image: url(http://wir.skyrock.net/wir/v1/profilcrop/?im=%2F1239%2F31551239%2Fpics%2Fphoto_31551239.jpg&c=isi&w=100&h=100&q=90);*/
   /* height: 30%;
    width: 30%;*/

}
img{
    height: 100%;
    width: 100%;
}
.box {
    height: 150px;
    width: 150px;
    background-color: #6ACAEB;
    box-sizing: border-box;
    margin: 0 auto;
    border: 10px solid grey;
    border-radius: 10px;

*/}
h1{
    text-align: center;
    color: #33CC40;
    font-size: 100px;
}
h3 {
    text-align: center;
    font-family: 'Kaushan';
    display: inline-block;
    border: 2px solid white;
    border-radius: 5px;
    /*margin: 0 auto;*/
}
#Player1 {
    background-color: green;
    border-radius: 10px;
    border: 5px solid black;
    font-size: 3em;
    float: left;
}
#Player2 {
    background-color: orange;
    border: 5px solid black;
    font-size: 3em;
    border-radius: 10px;
    float: right;
}
.wrapper{
    text-align: center;
}
#start {
    font-family: 'Kaushan';
    font-size: 1em;
    background: green;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 1em;
    position:relative;
    transition-duration: 2s;
    
}
#start:hover {
    background: orange;
}
table{
    margin: 0 auto;
    margin-top: 350px;
    height:450px;
    width:450px;
    border: 10px solid black;
    border-radius: 10px;
}
#Player1_Wins {
    background-color: green;
    border-radius: 10px;
    border: 5px solid black;
    font-size: 3em;
    float: left;
    margin-top: 150px;
}
#Player2_Wins {
    background-color: orange;
    border: 5px solid black;
    font-size: 3em;
    border-radius: 10px;
    float: right;
    margin-top: 150px;
}